* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    width: 1260px;
    margin: 0px auto;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: inherit;
}


/* header css  */

header .top-header {
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 0px;
    font-size: 14px;
}

header .top-header i {
    padding-right: 10px;
}

header .middle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.middle-header ul li {
    margin-right: 20px;
}

.middle-header .search {
    display: flex;
    gap: 100px;
}

.middle-header .search form {
    display: flex;
}

.middle-header .search form input {
    padding: 7px 10px;
    border: 1px solid black;
    background-color: gainsboro;
    border-radius: 5px 0px 0px 5px;
}

.middle-header .search button {
    background-color: black;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 0px 5px 5px 0px;
}

.middle-header .icons {
    display: flex;
    gap: 15px;
}

.middle-header .icons i {
    font-size: 26px;
    color: black;
}

.middle-header .icons .wishlist {
    position: relative;
}

.icons .wishlist span {
    background-color: red;
    color: white;
    padding: 6px 8px;
    border-radius: 50%;
    position: absolute;
    font-size: 12px;
    top: -16px;
    right: -16px;
}

.bottom-header {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.bottom-header ul li {
    margin-right: 8px;
    font-size: 14px;
    padding: 10px 0px;
}

.bottom-header ul li:hover {
    color: red;
    border-bottom: 1px solid red;
}

/* .banner-slider .owl-dots button span{
    display: block;
    height: 20px;
    width: 20px;
    background-color: red;
    margin: 5px;
    border-radius: 50%;
}
.banner-slider  .owl-dots .active span{
    background-color: green;
} */

.services {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.services-item {
    text-align: center;
}

.services-item i {
    font-size: 40px;
}

.services-item h2 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 4px;
}

.product-category {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.cartegory-card {
    position: relative;
}

.prodcut-description {
    width: 100%;
    position: absolute;
    left: 10px;
    bottom: 30px;
}

.prodcut-description h2 {
    color: white;
    text-align: center; 
    margin-bottom: 15px;
}

.prodcut-description .card-button {
    background-color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 5px;
    width: fit-content;
    display: block;
    margin: 0px auto;
}

.prodcut-description .card-button:hover {
    text-decoration: underline;

}

.video-shopping {
    padding: 50px 0px;
    background-image: url("../images/video-shopping-banner16-8-2023.avif");
    color: white;
    text-align: center;
}
.video-shopping h2{
    font-size: 36px ;
}
.video-shopping form{
    margin-top: 20px;
}
.video-shopping form input{
    padding: 10px;
    border-radius: 5px;
    color: black;
}
.video-shopping form button{
    background-color: white;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
}
.video-shopping form button:hover{
    background-color: black;
    color: white;
}
.section-heading{
    text-align: center;
    margin-bottom: 40px;
}
.margin-top{
    margin-top: 50px;
}
.editiors-picks{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}